{% extends 'base.html' %}
{% block title %}
  Reset Password
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <p>Hi {{ user.get_username }},</p>

    <p>You've requested a password reset. Click the link below to reset your password:</p>

    <p>
      <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset your password</a>
    </p>

    <p>If you didn't request this, simply ignore this email.</p>
    <p>Hello,</p>
    <p>Click the link below to reset your password:</p>
    <p>
      <a href="{{ protocol }}://{{ domain }}{{ url }}">{{ url }}</a>
    </p>
    <p>If you did not request this, please ignore this email.</p>
  </div>
{% endblock %}
